<div class="brand-mark @Class" aria-hidden="true">
    <div class="brand-mark__ring"></div>
    <div class="brand-mark__moon"></div>
    <div class="brand-mark__star brand-mark__star--one"></div>
    <div class="brand-mark__speed brand-mark__speed--one"></div>
    <div class="brand-mark__speed brand-mark__speed--two"></div>
    <div class="brand-mark__speed brand-mark__speed--three"></div>
    <div class="brand-mark__wrench">
        <span></span>
    </div>
</div>

@code {
    [Parameter] public string? Class { get; set; }
}
